/* General */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', sans-serif;
}

/* Pantalla de Inicio */
.pantalla-inicio {
  height: 100vh;
  background: linear-gradient(to right, #000000, #1a1a5e, #2c2cdd);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  color: white;
}

.inicio-contenido {
  max-width: 1000px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.textos {
  text-align: center;
  flex: 1;
}

.higher, .lower {
  font-size: 64px;
  font-weight: bold;
  margin: 10px 0;
  display: inline-block;
}

.higher {
  transform: rotate(-20deg);
  color: #ffffff;
}

.lower {
  transform: rotate(20deg);
  color: #ffffff;
}

.or {
  font-size: 36px;
  display: block;
  margin: 10px 0;
  font-weight: 300;
  color: #ccc;
}

.caja-juego {
  flex: 1;
  text-align: center;
}

.titulo-juego {
  display: inline-block;
  border: 5px solid white;
  border-radius: 12px;
  padding: 30px 40px;
  font-size: 32px;
  background-color: rgba(255, 255, 255, 0.05);
}

.titulo-juego .linea {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: 8px 0;
}

.titulo-juego span {
  display: inline-block;
}

.titulo-juego .bold {
  font-weight: bold;
  font-size: 38px;
}

.boton-play {
  display: inline-block;
  margin-top: 30px;
  background-color: #00d26a;
  color: white;
  border: none;
  padding: 18px 50px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.4s ease, transform 0.4s ease;
}

.boton-play:hover {
  transform: scale(1.15);
  background-color: #009e4f;
}

/* Pantalla de Login */
.pantalla-login {
  height: 100vh;
  background: linear-gradient(to right, #0047ab, #a64ac9);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.icono-casa {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: transform 0.3s ease;
  z-index: 10;
}

.icono-casa:hover {
  transform: scale(1.25);
}

.login-box {
  background: rgba(255, 255, 255, 0.05);
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  backdrop-filter: blur(5px);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.avatar {
  width: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.input {
  width: 100%;
  padding: 15px;
  margin: 12px 0;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  background: #dddddd;
  color: #333;
  transition: transform 0.3s ease;
}

.input:hover {
  transform: scale(1.05);
}

.input::placeholder {
  color: #888;
}

.input2 {
  width: 100%;
  padding: 15px;
  margin: 0px 0;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  background: #dddddd;
  color: #333;
  transition: transform 0.3s ease;
}

.input2:hover {
  transform: scale(1.05);
}

.input2::placeholder {
  color: #888;
}
.input3 {
  width: 100%;
  padding: 15px;
  margin-top: -5px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  background: #dddddd;
  color: #333;
  transition: transform 0.3s ease;
}

.input3:hover {
  transform: scale(1.05);
}

.input3::placeholder {
  color: #888;
}
.botonAdmin {
  display: inline-block;
  margin-top: 5px;
  background-color: #00d26a;
  color: white;
  border: none;
  padding: 18px 50px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.4s ease, transform 0.4s ease;
}

.botonAdmin:hover {
  transform: scale(1.05);
  background-color: #009e4f;
}
.botones {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.botones button {
  flex: 1;
  margin: 0 10px;
  background-color: #00d26a;
  color: white;
  border: none;
  padding: 15px 0;
  border-radius: 25px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3 ease;
}

.botones button:hover {
  transform: scale(1.10);
  background-color: #009e4f;
}
/* Pantalla de Juego */

.pantalla-juego {
  height: 100vh;
  background: linear-gradient(to right, #2f1349, #085ac5);;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px;
  position: relative;
  text-align: center;
}

.juego-header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 30px;
}

.juego-header h2 {
  font-size: 28px;
  font-weight: bold;
  color: #000;
}

.icono-flechas {
  position: absolute;
  right: 30px;
  width: 40px;
  height: 40px;
}

.juego-contenedor {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 900px;
  gap: 30px;
}

.juego-card {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 10px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  backdrop-filter: blur(3px);
}

.nombre-juego {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  margin-bottom: 15px;
  font-weight: bold;
}

#IdImagenJuego1, #IdImagenJuego2 {
  width: 100%;
  border-radius: 10px;
  aspect-ratio: 1/1;
  object-fit: cover;
  margin-bottom: 15px;
  border: 3px solid #ffffff;
}

.flecha {
  font-size: 40px;
  font-weight: bold;
  margin-top: 10px;
}

.flecha.roja {
  color: red;
}

.flecha.verde {
  color: green;
}

.versus {
  font-size: 24px;
  font-weight: bold;
  color: #222;
}
/* Pantalla modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-contenido {
  background-color: white;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.modal-contenido h2 {
  margin-bottom: 10px;
}

.modal-contenido .botones button {
  margin: 10px;
  padding: 12px 24px;
  border: none;
  border-radius: 10px;
  background-color: #00d26a;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.modal-contenido .botones button:hover {
  background-color: #00b55a;
}


/* Pantalla de administración */

.pantalla-admin {
  height: 100vh;
  background: linear-gradient(to right, #2f1349, #085ac5);;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
}
h1{
  margin-top: 10px;
  margin-bottom: -50px;
  color: #85f08b;
}
.admin-formulario {
  display: flex;
  flex-direction: column;
  gap: 1px;
  width: 100%;
  max-width: 400px;
}

.admin-formulario input {
  padding: 12px;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.admin-formulario button {
  background-color: #00d26a;
  color: white;
  border: none;
  padding: 12px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
}

.admin-formulario button:hover {
  background-color: #00b55a;
}

.pantalla-admin .boton-play2 {
  background-color: #00d26a;
  color: white;
  border: none;
  padding: 18px 50px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: none;
  background-image: none;
  margin-top: -5px;
}
.pantalla-admin .boton-play2:hover {
  transform: scale(1.05);
  background-color: #009e4f;
}


/* modal - modificar juego */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #2f1349, #085ac5);;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-contenido {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  width: 400px;
  text-align: center;
  box-shadow: 0 0 10px black;
}

.modal-contenido input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
}

.modal-contenido .botones {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.modal-contenido button {
  padding: 10px 20px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Chequear juego */

.chequear-juego {
  height: 100vh;
  background: linear-gradient(to right, #2f1349, #085ac5);;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px;
  text-align: center;
  gap: 20px;
}

#IdImagenModificar {
  width: 300px; 
  height: 300px; 
  object-fit: cover; 
  border-radius: 10px;
  margin: 20px 0; 
}
.infoJuego{
  color: #6ec072;
}
.botonAdmin2izq {
  display: inline-block;
  margin-top: 5px;
  margin-right: 5px;
  background-color: #00d26a;
  color: white;
  border: none;
  padding: 10.8px 30px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.4s ease, transform 0.4s ease;
}
.botonAdmin2izq:hover {
  transform: scale(1.05);
  background-color: #009e4f;
}
.botonAdmin2der {
  display: inline-block;
  margin-top: 5px;
  margin-left: 5px;
  background-color: #00d26a;
  color: white;
  border: none;
  padding: 10.8px 30px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.4s ease, transform 0.4s ease;
}
.botonAdmin2der:hover {
  transform: scale(1.05);
  background-color: #009e4f;
}
/* modal perdiste */
.modal-perdiste { 
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}

.modal-contenido {
  background-color: white;
  padding: 30px;
  margin-top: -200px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.modal-contenido h2 {
  margin-bottom: 10px;
}

.modal-contenido button {
  padding: 10px 20px;
  background-color: #4CAF50;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

.modal-contenido button:hover {
  background-color: #45a049;
}

.IdImagenRespuesta{
  width: 65px;
}